*{
  padding: 0;
}

body{
}

header{
  width: 913px;
   margin: auto;
   border: 1px solid red;
}

.head-up{
  background-image: url(img/mondays.gif);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  height: 65px;
  text-align: right;
}

.search-field{
margin-top: 22px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
height: 25px;
}

.search-button{
  margin-bottom: -6px;
  height: 25px;
  width: 25px;
  background-image: url(img/search-button.gif);
  border-radius: 5px;
}

.head-down{
  background-image: url(img/navigation.gif);
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
}

.nav-bar{
  display: flex;
  margin-left: 10px;
}

li{
  padding-top: 11px;
  width: 75px;
  list-style: none;
  font-family: arial;
  font-size: 13px;
  margin-right: 3px;
  height: 27px;
  margin-top: 9px;
  text-align: center;
  color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.home{
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
}

a:hover{
  color: rgb(122, 122, 122);
}

.option-nav{
  border-radius: 7px;
}

.option-nav:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
}

.option-nav>ul{
  margin-top: 5px;
  padding-right: 180px;
}

.option-nav>ul>li{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
  padding-right: 95px;
  margin-top: 0;
  display: none;
}

.option-nav:hover > ul >li{
  display: block;
}

.home>ul>li{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
  padding-right: 95px;
  margin-top: 0;
  display: none;
}

.home:hover > ul > li{
  display: block;
}

.option-nav>ul>li:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(69, 199, 238);
}

.home>ul>li:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(69, 199, 238);
}

.first-article{
  border: 1px solid green;
  height: 50px;
  width: 913px;
  margin-left: auto;
  margin-right: auto;
}

.central-animation{
}
