body{
/* border: 2px solid green; */
}

header{
  /* border: 1px solid red; */
  width: 913px;
   margin: auto;
}

.head-up{
  background-image: url(img/mondays.gif);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  height: 65px;
  text-align: right;
}

.search-field{
margin-top: 22px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
height: 25px;
}

.search-button{
  margin-bottom: -6px;
  height: 25px;
  width: 25px;
  background-image: url(img/search-button.gif);
  border-radius: 5px;
}

.head-down{
  background-image: url(img/navigation.gif);
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
}

.nav-bar{
  display: flex;
  margin-left: -30px;
}

li{
  padding-top: 11px;
  /* border: 1px solid rgb(59, 202, 255); */
  width: 75px;
  list-style: none;
  font-family: arial;
  font-size: 13px;
  margin-right: 3px;
  height: 27px;
  margin-top: 9px;
  text-align: center;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.home{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
}

a:hover{
  color: rgb(122, 122, 122);
}

.option-nav:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
}

.option-nav>ul>li{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: block;
  border-radius: 0px;
  display: none;
}

.option-nav:hover > ul > li{
  display: block;
}

.option-nav>ul>li:hover{
  background-color: rgb(0, 224, 255);
}
