*{
  padding: 0;
}

body{
  background-color: rgb(225, 229, 232);
  margin-top: 0;
  margin-bottom: 0;
}

header{
  border: 1px solid white;
  width: 913px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.head-up{
  background-image: url(img/mondays.gif);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  height: 65px;
  text-align: right;
}

.search-field{
  margin-top: 22px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 25px;
}

.search-button{
  margin-bottom: -6px;
  height: 25px;
  width: 25px;
  background-image: url(img/search-button.gif);
  border-radius: 5px;
}

.head-down{
  background-image: url(img/navigation.gif);
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
}

.nav-bar{
  display: flex;
  margin-left: 10px;
}

li{
  padding-top: 11px;
  width: 75px;
  list-style: none;
  font-family: arial;
  font-size: 13px;
  margin-right: 3px;
  height: 27px;
  margin-top: 9px;
  text-align: center;
  color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.home{
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
}

a:hover{
  color: rgb(122, 122, 122);
}

.option-nav{
  border-radius: 7px;
}

.option-nav:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
}

.option-nav>ul{
  margin-top: 5px;
  padding-right: 180px;
}

.option-nav>ul>li{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
  padding-right: 95px;
  margin-top: 0;
  display: none;
}

.option-nav:hover > ul >li{
  display: block;
  position: relative;
}

.home>ul>li{
  background-color: rgb(255, 255, 255);
  color: rgb(122, 122, 122);
  padding-right: 95px;
  margin-top: 0;
  display: none;
}

.home:hover > ul > li{
  position:relative;
  display: block;
}

.option-nav>ul>li:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(69, 199, 238);
}

.home>ul>li:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(69, 199, 238);
}

.content{
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 913px;
  background-color: rgb(255, 255, 255);
}

.central-animation{
  height: 330px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 5px;
  background: linear-gradient(rgb(242, 242, 242), rgb(224, 219, 219));
}

.global-news{
  display:inline-flex;
}

.news{
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
}

.title{
  margin-top: 27px;
  font-family: arial;
  font-size: 18px;
  margin-bottom: 3px;
  color: rgb(42, 42, 42);
}

hr{
  margin-top: 0;
  border: solid 0.5px rgb(226, 219, 219);
}

.subtitle-1{
  font-family: arial;
  color: rgb(0, 197, 232);
  font-size: 24px;
  margin-top: -8px;
  margin-bottom: 0;
}

.subtitle-2{
  margin-top: -23px;
  font-family: arial;
  font-size: 0.9em;
  color: rgb(103, 103, 103);
  margin-bottom: 4px;
}

.info{
  font-family: arial;
  font-size: 12px;
  color: rgb(115, 115, 115);
  line-height: 20px;
}

.link-article{
  color: rgb(69, 199, 238);
  text-decoration: underline;
  font-family: arial;
  font-size: 12px;
}

.global-news-2{
  display: flex;
}

.news-2{
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

footer{
  height: 90px;
  width: 913px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  margin-top: -9px;
}

.foot{
  border-radius: 7px;
  background-image: url(img/footer.gif);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  height: 61px;
}

.menu-foot{
  margin-left: 8px;
  display: flex;
  /* height: 60px; */
}

.element-foot{
  margin-top: -6px;
  width: 57px;
}

.copy{
  height: 20px;
  color: rgb(255, 255, 255);
  margin-left: 110px;
  font-family: arial;
  font-size: 13px;
  margin-top: 22px;
}

.final-division{
  width: 873px;
  border: solid 0.5px rgb(226, 219, 219);
}
